# 火山引擎 API Key (TTS)
VITE_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# MiniMax API Key (TTS & Translation)
VITE_API_KEY_MINIMAX=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# 硅基流动 API Key (Translation)
VITE_API_KEY_SILICONFLOW=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
